<!-- HostSales Item -->
<div class="col-xs-6 col-md-3">
    <div class="sales-item">
        <figure class="home-sales-img">
            <a href="{{ path("cch_camp_detail") }}" title="">
                <img src="{{ asset('images/deal/img-1.jpg') }}" alt="">
            </a>
            <figcaption>
                àpd<br><span>4</span>€
            </figcaption>
        </figure>
        <div class="home-sales-text">
            <div class="home-sales-name-places">
                <div class="home-sales-name">
                    <a href="{{ path("cch_camp_detail") }}" title="">Stéphane camping</a>
                </div>
                <div class="home-sales-places">
                    <a href="" title="">Rendeux</a>,
                    <a href="" title="">Belgique</a>
                </div>
            </div>
            <hr class="hr">
            <div class="price-box">
                <span class="price old-price">A partir de</span>
                <span class="price special-price">4€<small>/nuit</small></span>
            </div>
        </div>
    </div>
</div>
<!-- End HostSales Item -->